// FONT

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
$montserrat: 'Montserrat', sans-serif;

// COLORS

$blanc: #fefefe;
$noir: #121212;
